# Conexión a la base de datos local
spring.datasource.url=${DATABASE_URL}
spring.datasource.username=${DATABASE_USER}
spring.datasource.password=${DATABASE_PASSWORD}

# Magia de Spring: Crea y actualiza las tablas automáticamente basándose en su código Java
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.open-in-view=false

# ==========================================
# CONFIGURACIÓN DE CORREO (JavaMailSender)
# ==========================================
spring.mail.host=credenciales
spring.mail.port=puertoAbierto
spring.mail.username=${MAIL_USERNAME}
spring.mail.password=${MAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true